
<application build="build">

	<output js="static/js" css="static/css">

	<js root="client/js" compiler="~/projects/closure/closure-compiler">
		<checks>
			<error name="ambiguousFunctionDecl"/>
			<error name="checkRegExp"/>
			<error name="checkTypes"/>
			<error name="checkVars"/>
			<error name="constantProperty"/>
			<error name="deprecated"/>
			<error name="duplicateMessage"/>
			<error name="fileoverviewTags"/>
			<error name="globalThis"/>
			<error name="internetExplorerChecks"/>
			<error name="invalidCasts"/>
			<error name="missingProperties"/>
			<error name="nonStandardJsDocs"/>
			<error name="undefinedVars"/>
			<error name="unknownDefines"/>
			<error name="uselessCode"/>
			<error name="strictModuleDepCheck"/>
			<error name="typeInvalidation"/>
			<error name="undefinedNames"/>
		</checks>

		<target name="dev" mode="RAW" level="VERBOSE">
			<define>
				<item name="goog.LOCALE" value="es"/>
				<item name="goog.DEBUG" value="true"/>
				<item name="goog.dom.ASSUME_STANDARDS_MODE" value="true"/>
			</define>
		</target>

		<target name="production" mode="ADVANCED" inherits="dev">
			<define>
				<item name="goog.DEBUG" value="false"/>
			</define>
		</target>

		<target name="ie" inherits="production">
			<define>
				<item name="goog.ASSUME_IE" value="false"/>
			</define>
		</target>

		<inputs>
			<file path="client/js/main.js"/>
		</input>
	</js>

	<gss root="client/gss" compiler="~/projects/closure/closure-stylesheets">
		<target name="dev" rename="false"/>

		<target name="production" rename="true">
			<vendor kind="webkit"/>
			<define>
				<item name="BROWSER_IE"/>
			</define>
		</target>
	</gss>

	<soy root="client/soy" compiler="~/projects/closure/closure-templates">
		<define>
			<item name="BROWSER_IE"/>
		</define>
	</soy>

	<library root="~/projects/closure/closure-library"/>

</application>
