{{define "base"}}

window.CLOSURE_NO_DEPS = true;
window.CLOSURE_BASE_PATH = 'http://localhost{{.Port}}/input/';

{{.Content}}

var ns = [{{.Namespaces}}];
for(var i = 0; i {{.LT}} ns.length; i++) {
  goog.require(ns[i]);
}

function addCss(cssCode) {
  if(cssCode.length == 0)
    return;

  var styleElement = document.createElement("style");
  styleElement.type = "text/css";

  if (styleElement.styleSheet) {
    styleElement.styleSheet.cssText = cssCode;
  } else {
    styleElement.appendChild(document.createTextNode(cssCode));
  }

  document.getElementsByTagName("head")[0].appendChild(styleElement);
}

addCss("{{.Css}}");

{{end}}
